@import "tailwindcss";

@theme {
  --color-surface: #16111c;
  --color-surface-dim: #16111c;
  --color-surface-container-lowest: #100c16;
  --color-surface-container-low: #1e1a24;
  --color-surface-container: #221e28;
  --color-surface-container-high: #2d2833;
  --color-surface-container-highest: #38333e;
  --color-surface-bright: #3c3743;
  --color-on-surface: #e9dfee;
  --color-on-surface-variant: #cbc4cc;
  --color-primary: #d0bcff;
  --color-on-primary: #3c0091;
  --color-primary-container: #14003b;
  --color-secondary: #6bd8cb;
  --color-on-secondary: #003732;
  --color-outline: #948f96;
  --color-outline-variant: #49454c;
  --color-error: #ffb4ab;
  --font-family-headline: "Manrope", sans-serif;
  --font-family-body: "Inter", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-surface);
  color: var(--color-on-surface);
  font-family: var(--font-family-body);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::selection {
  background: rgb(208 188 255 / 0.3);
  color: var(--color-primary);
}

.technical-gradient {
  background: linear-gradient(135deg, #d0bcff 0%, #14003b 100%);
}

@keyframes float {
  0%, 100% { transform: perspective(800px) rotateY(-5deg) rotateX(2deg) translateY(0px); }
  50% { transform: perspective(800px) rotateY(-5deg) rotateX(2deg) translateY(-8px); }
}

.animate-float {
  animation: float 6s ease-in-out infinite;
}
